# copy this to .env and fill in your keys!
# N.B. the .env file is in .gitignore, and won't be committed to your repo -- your keys will stay local
# To get the app to run under GitHub Actions, for CI/CD, you'll need to also add these as repository secrets.
# See README.md for more information.

export OPENAI_API_KEY=
export EXCHANGE_RATE_API_KEY=
